.titulo{
    text-align: center;
}
.cntrlVersao{
    font-family: Arial, Helvetica, sans-serif;
}
.cntrlMudancas{
    font-family: Arial, Helvetica, sans-serif;
}
.integracao{
    font-family: Arial, Helvetica, sans-serif;
}
.background{
    color: blueviolet;
}